.content-box {
    max-width: 1200px;
    width: 920px;
    height: 650px;
    overflow: scroll;
}

.content-innerbox {
    display: block;
    position: relative;
    float: left;
    /*    max-width: 1200px;*/
    width: 895px;
    height: auto;
    padding: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    /*     高度之后可以变化*/
    background-color: #f9f9f9;
    box-shadow: 1px 1px grey;
    margin-bottom: 5px;
}

.table-position>tbody>tr {
    width: 751px;
    white-space: pre-wrap;
    position: relative;
    overflow: hidden;
}

.table-position {
    white-space: pre-wrap;
    background: #fff;
}

.content-item-id {
    text-align: center;
    width: 40px !important;
}

.content-item-id:hover .itemid {
    border: 4px solid #1abc9c !important;
}

.content-item-id:hover {
    background-color: #eee;
    /*    cursor: pointer;*/
}

.itemid {
    position: absolute;
    display: block;
    top: 50%;
    left: 14px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-top: -16px;
    z-index: 300;
    border: 4px solid #fff;
}

.selected>.itemid{
    border: 4px solid #1abc9c !important;
}

.newsTime {
    padding-left: 5px;
    width: 150px !important;
}

.newsFrom {
    padding-left: 5px;
    width: 515px !important;
}

.context-item-title {
    padding-left: 5px;
    width: 85px;
    background-color: #1ABC9C;
    color: white;
}

.context-item-contant1 {
    padding-left: 5px;
    width: 751px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    opacity: 1;
}

.masktoadditems {
    display: none;
    width: 660px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 142.5px;
    margin-left: -330px;
    /*    margin: 0;*/
    z-index: 999;
    padding: 10px;
    background: rgba(0, 0, 0, .2);
}

.inner {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    background: #fff;
}

.hd {
    position: relative;
    /*    top:-10px;*/
    height: 40px;
    padding: 0 30px 0 8px;
    background: #f3f3f3;
    line-height: 40px;
    cursor: default;
}

.hd h2 {
    margin: 0;
    padding: 0;
    color: #666;
    line-height: 40px;
    font-size: 16px;
    font-weight: bolder;
}

.inner-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background: url(../img/close.png) no-repeat center center /14px 14px;
}

.btn-myown {
    width: 150px;
    display: inline-block;
    position: relative;
    bottom: 0px;
}

.form-position {
    /*    width: 100%;*/
    margin: 10px 15px 10px 10px;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px !important;
    overflow-y: scroll;
}

.buttonbox {
    margin-bottom: 20px;
    width: 150px;
    position: relative;
    display: inline-block;
    left: 50%;
    margin: 0 -75px;
}

.masktodeleteitems {
    display: none;
    width: 660px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 172.5px;
    margin-left: -330px;
    /*    margin: 0;*/
    z-index: 999;
    padding: 10px;
    background: rgba(0, 0, 0, .2);
}

.masktoedititems {
    display: none;
    width: 660px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 142.5px;
    margin-left: -330px;
    /*    margin: 0;*/
    z-index: 999;
    padding: 10px;
    background: rgba(0, 0, 0, .2);
}

.deleteBtnBox {
    display: inline-block;
    width: 150px;
    margin: 0 5px;
}

.delBtnBox {
    width: 330px;
    margin: 0 auto 15px;
}

.delBtnBox button {
    width: 150px;
}

.deleteNotice {
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    width: auto;
    height: 80px;
    margin: 20px 20px;
    border: 1px solid grey;
    background: #eee;
    border-radius: 3px;
    box-shadow: 2px 2px #eee;
}

.deleteNotice span {
    font-weight: bolder;
}

.addConfirm {
    width: 200px;
    position: absolute;
    top: 7px;
    left: 165px;
    display: inline-block;
}

.editConfirm {
    width: 200px;
    position: absolute;
    top: 7px;
    left: 165px;
    display: inline-block;
}

.masktoquit {
    display: none;
    width: 660px;
    height: auto;
    position: fixed;
    left: 50%;
    top: 172.5px;
    margin-left: -330px;
    /*    margin: 0;*/
    z-index: 999;
    padding: 10px;
    background: rgba(0, 0, 0, .2);
}

.quitNotice {
    font-size: 25px;
    line-height: 80px;
    text-align: center;
    width: auto;
    height: 80px;
    margin: 20px 20px;
    border: 1px solid grey;
    background: #eee;
    border-radius: 3px;
    box-shadow: 2px 2px #eee;
}



.top-bar>ul>li {
    cursor: pointer;
}
