<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=320.1,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="baidu-tc-cerfication" content="4779cf472a2e0bc569c3e9daca180bbc" />
    <title>百度新闻</title>
    <link href="./BaiduNews/css/loading.css" type="text/css" rel="stylesheet" />
    <link href="./BaiduNews/css/header.css" type="text/css" rel="stylesheet" />
    <link href="./BaiduNews/css/nav.css" type="text/css" rel="stylesheet" />
    <link href="./BaiduNews/css/newsBox.css" type="text/css" rel="stylesheet" />
    <link href="./BaiduNews/css/footer.css" type="text/css" rel="stylesheet" />
    <link href="./BaiduNews/css/basic.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <!--APP根元素-->
    <!-- 加载条 -->
    <div class="page-loading">
        <div class="page-loading-logo">
            <div class="page-loading-anim"></div>
        </div>
        <div class="page-loading-text">加载中，请稍候...</div>
    </div>
    <div class="header">
        <div class="headerLeft">
            <div class="headerTools toBaidu"></div>
            <div class="headerTools toUser"></div>
        </div>
        <div class="headerRight">
            <div class="headerTools toSearch"></div>
            <div class="headerTools toAddTools"></div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="nav">
        <div class="navRow">
            <div class="anvRowBox focused" name="news_recommend">推荐</div>
            <div class="anvRowBox" name="news_baijia">百家</div>
            <div class="anvRowBox" name="news_local">本地</div>
            <div class="anvRowBox" name="news_picture">图片</div>
            <div class="anvRowBox" name="news_society">社会</div>
        </div>
        <div class="navRow">
            <div class="anvRowBox" name="news_military">军事</div>
            <div class="anvRowBox" name="news_science">科技</div>
            <div class="anvRowBox" name="news_internet">互联网</div>
            <div class="anvRowBox" name="news_woman">女人</div>
            <div class="anvRowBox" name="news_entertainment">娱乐</div>
        </div>
    </div>
    <div class="newsOuterBox news_recommend_box selected" name="news_recommend">
        <!--每一个新闻盒子-->
        <!--新闻盒子结束-->
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_baijia_box" name="news_baijia">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_local_box" name="news_local">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_picture_box" name="news_picture">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_science_box" name="news_science">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_military_box" name="news_military">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_society_box" name="news_society">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_internet_box" name="news_internet">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_woman_box" name="news_woman">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="newsOuterBox news_entertainment_box" name="news_entertainment">
        <div class="loadMore">点击加载更多</div>
    </div>
    <div class="footer">
        <div class="footerBox">
            <div><i class="fooFeedback_img"></i> 反馈意见</div>
        </div>
        <div class="footerBox">
            <div><i class="fooApp_img"></i> 应用推荐</div>
        </div>
        <div class="footerBox">
            <div><i class="fooAppDownload_img"></i> 客户端</div>
        </div>
    </div>
    <script data-main="BaiduNews/js/bdnews_main" type="text/javascript" src="BaiduNews/js/lib/require.js"></script>
</body>

</html>
