<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>help page</title>

</head>
<body>
    <div>
    <ul>
    <h1>请输入正确的访问地址！</h1>
    <li>后台登录：http://localhost:3000/login</li>
    <li>新闻首页：http://localhost:3000/index</li>
    	
    </ul>
    </div>


</body>
</html>