.nav {
    position: relative;
    padding: 0px 0;
    top: -1px;
    height: 70px;
    width: 100%;
    background-color: rgb(62, 152, 240);
}

.navRow {
    width: 100%;
    height: 33px;
}

.anvRowBox {
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    display: inline-block;
    line-height: 33px;
    width: 20%;
    height: 100%;
    color: white;
    cursor: pointer;
}

.anvRowBox:hover {
    text-decoration: underline;
}

.focused {
    text-decoration: underline;
}
