.newsBox {
    height: 92px;
    width: 100%;
}

.newsOuterBox {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    /*    background-color: aquamarine;*/
}

.newsInnerBox {
    width: auto;
    position: relative;
    margin: 5px 10px;
    padding: 10px 0;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.newsInnerBox_img {
    position: absolute;
    float: left;
    top: 10px;
    left: 0px;
    display: inline-block;
    width: 95px;
    height: 70px;
    margin-right: 10px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    text-align: center;
}

.newsInnerBox_img img {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    height: 70px;
}

.newsInnerBox_title {
    font-size: 16px;
    padding-left: 105px;
    line-height: 20px;
    color: #262b31;
    display: block;
    top: 0px;
    left: 0px;
    height: 20px;
    width: auto;
    /*    margin-bottom: 4px;*/
    overflow: hidden;
}

.newsInnerBox_content {
    display: block;
    height: 20px;
    padding-left: 105px;
    font-size: 13px;
    color: #b8bac0;
    line-height: 20px;
    overflow: hidden;
}

.newsInnerBox_right {
    position: relative;
    float: left;
    /*    top:10px;*/
    /*    left:105px;*/
    /*    padding-left: 105px;*/
    display: inline-block;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.newsInnerBox_time_from {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 100%;
}

.newsInnerBox_time {
    padding-left: 105px;
    height: 20px;
    display: inline-block;
    width: 50px;
    float: left;
    font-size: 12px;
    color: #b8bac0;
    line-height: 20px;
}

.newsInnerBox_from {
    height: 20px;
    color: white;
    border-radius: 3px;
    line-height: 20px;
    padding: 0 3px;
    float: right;
    display: inline-block;
    width: auto;
    font-size: 12px;
    background-color: #e02f2f;
}

.selected {
    display: block;
}

.newsInnerBox_right_text {
    /*    position: absolute;*/
    position: relative;
    /*    top:10px;*/
    /*    left:105px;*/
    display: inline-block;
    width: auto;
    height: 50px;
    overflow: hidden;
}
